<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <a [routerLink]="['/']" class="btn btn-primary me-3">JSON Formatter</a>
            <a [routerLink]="['/beautifier']" class="btn btn-primary me-3">JSON Beautifier</a>
        </ul>
    </div>
    <div><a style="position: fixed;right: 10px;top: 10px;"> Total Visitors:{{visitCount}}</a></div>
</nav>



<app-notification></app-notification>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>
<!-- <app-json-formatter></app-json-formatter> -->